# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
backend/venv/
backend/db/*.db
backend/uploads/

# Node
node_modules/
frontend/node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
